{% extends "index_layout.html" %}
{% block index %}

  <main class="main">
    <div class="video-container">
        <div class="finish">
          <!-- <p class="logout-button">
            <a href="{{ url_for("logout") }}">Log Out</a>
        
          </p> -->
          {% if correct_counts >= 4 %}

          <h2>You win the game. You are very smart!!!</h2>
          <form action="#" method="post">
            <button class="play-button" type="submit">Play again</button>
          </form>
        
          {% elif chances <= 0 %}
        
          <h2>You lose the game. Don't worry. Let start again!!!</h2>
          <form action="#" method="post">
            <button class="play-button" type="submit">Play again</button>
          </form>
        
          {% else %}
        
          <h2>Why you are still here?? You can get more points. 
            <a href="{{ url_for("worldmap") }}">Go to map</a></h2>
        
          {% endif %}
          <p class="logout-button">
            <a href="{{ url_for("logout") }}">Log Out</a>
        
          </p>
            <!-- <button class="play-button">Play Again </button> -->
        </div>
        <img id="background-video" src="/static/photo/finish-background-1.png" alt="finish background">
        <!-- <video autoplay muted loop id="background-video">
            <source src="https://cdn.pixabay.com/vimeo/789915518/an-ong-146798.mp4?width=640&hash=3d5c505ad57e3674190134ef58459e55b9d5b50e"
                    type="video/mp4">
        </video> -->
    </div>
</main>


{% endblock %}