body,html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
  background-image: url("photos/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Use 'cover' to fill the entire background */
  background-position: center; /* Optional: Center the background image */
}


/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the header */
.header {
  background-color: ghostwhite;
  padding: 10px;
}

/* Style for the header content */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  align-content: center;
}

/* Style for the logo */
header img {
  margin-right: 20px; /* Adjust margin as needed */
}

/* Style for the navigation */
nav ul {
  list-style: none;
  display: flex;
  align-items: center;

}

nav ul li {
  margin-right: 20px; /* Adjust margin as needed */
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: #0056b3;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style for the logout button */
.logout img {
  height: 40px; /* Adjust height as needed */
}

.welcoming_user {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.stats-placeholder {
  text-align: center;
  padding: 1rem;
}

.instructions {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  font-size: larger;
}

/* Style for the big Play Game button */
.play-button {
  display: flex;
  justify-content: center;
  margin-top: 30px; /* Adjust margin as needed */
}

.big-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #3498db; /* Change color as needed */
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.big-button:hover {
  background-color: #2980b9; /* Change color on hover as needed */
}

/* ... Previous CSS code ... */

/* Style for the big Play Game button positioned at the bottom */
.play-button-bottom {
  position: fixed;
  left: 50%;
  bottom: 20px; /* Adjust distance from the bottom as needed */
  transform: translateX(-50%);
}
